<header class="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container">
		<link rel="stylesheet" href="/src/public/css/estilos.css">
	    <a class="navbar-brand" href="/webmed.html"><h1 class="fs-3">WEBMED</h1></a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav mb-2 mb-lg-0">
			<li class="nav-item">
			  <a class="nav-link active" href="/recu"><span class="fa-user-alt"></span> Recursos</a>
			  </li>
			<li class="nav-item">
			  <a class="nav-link active" href="/salu"><span class="fas fa-user-alt "></span> Salud A-Z</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" href="/medi"><span class="fas fa-user-alt "></span> Medicamentos y Suplementos</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" href="/pago"><span class="fas fa-user-alt "></span> Pago</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" href="/fina"><span class="fas fa-user-alt "></span> Finanzas</a>
			</li>
			<li class="nav-item">
		      <a class="nav-link active" href="/noti"><span class="fas fa-user-alt "></span> Noticias y Expertos</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link active" href="/come"><span class="fas fa-user-alt "></span> Comentarios</a>
			</li>
	      </ul>
	    </div>
	  </div>
	</nav>
</header>