<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEBMED</title>
    <%- include('partials/head.html') %>
    <style>
      h1 {
        text-align: center;
        color: #0033ff;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 200px;
        border-radius: 50%;
      }
      p {
        margin-bottom: 20px;
      }
    </style>
</head>
<body>
    <%- include('partials/navegacion.html') %>
    <main>
        <h1>Servicio de Ambulancia</h1>
        <h2>¿Qué es el servicio de ambulancia?</h2>
        <p>El servicio de ambulancia del Hospital es un servicio de emergencia que brinda atención médica en casos de urgencia y traslado de pacientes. Nuestro equipo de profesionales altamente capacitados y equipados con tecnología médica avanzada está disponible las 24 horas del día, los 7 días de la semana.</p>
        
        <h2>Servicios ofrecidos por nuestra ambulancia</h2>
        <ul>
          <li>Atención médica de emergencia en el lugar de los hechos</li>
          <li>Traslado seguro y rápido de pacientes al hospital</li>
          <li>Monitoreo y cuidados médicos durante el traslado</li>
          <li>Coordinación con el personal médico del hospital para recibir al paciente</li>
        </ul>
        <h2>¿Cuándo utilizar nuestro servicio de ambulancia?</h2>
        <p>Se recomienda llamar al servicio de ambulancia en los siguientes casos:</p>
        <ul>
          <li>Emergencias médicas como ataques al corazón, accidentes cerebrovasculares, dificultades respiratorias graves, etc.</li>
          <li>Lesiones graves o accidentes automovilísticos</li>
          <li>Complicaciones durante el embarazo o parto</li>
          <li>Enfermedades graves que requieren atención médica inmediata</li>
        </ul>
        
        <h2>Contáctenos</h2>
        <p>Si necesita utilizar nuestro servicio de ambulancia, por favor llame al número de emergencia: <strong>123-456-7890</strong>.</p>
      </main>
      <%- include('partials/footer.html') %>
</body>
</html>