<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEBMED</title>
    <%- include('partials/head.html') %>
    <style>
        h1 {
          text-align: center;
          color: #0033ff;
        }
        img {
          display: block;
          margin: 0 auto;
          width: 200px;
          border-radius: 50%;
        }
        p {
          margin-bottom: 20px;
        }
      </style>
</head>
<body>
    <%- include('partials/navegacion.html') %>
    <h1>Perfil Médico</h1>
    <h2>Dr. Antonio Peña</h2>
    <p>Especialidad: Medicina Interna</p>
    <p>Experiencia: 10 años de experiencia</p>
    <p>Horario de atención: Lunes a Viernes, de 9:00 AM a 5:00 PM</p>
    <p>Descripción: Especializado en el diagnóstico, tratamiento y manejo de enfermedades en adultos.</p>
    <h2>Contacto</h2>
    <p>Teléfono: 3615168521</p>
    <p>Email: antonpeña@gmail.com</p>
    <p>Dirección: carrera 64 No. 68CSUR-73</p>

    <h2>.</h2>

    <h2>Dr. Mara Leon</h2>
    <p>Especialidad: Pediatria</p>
    <p>Experiencia: 8 años de experiencia</p>
    <p>Horario de atención: Lunes a Viernes, de 9:00 AM a 5:00 PM</p>
    <p>Descripción: Especializada en el cuidado de niños, desde recien nacidos hasta adolecentes.</p>
    <h2>Contacto</h2>
    <p>Teléfono: 3242178163</p>
    <p>Email: lmara@gmail.com</p>
    <p>Dirección: carrera 64 No. 68CSUR-73</p>

    <h2>.</h2>

    <h2>Dr. Juan Prado</h2>
    <p>Especialidad: Dermatologia</p>
    <p>Experiencia: 3 años de experiencia</p>
    <p>Horario de atención: Lunes a Viernes, de 9:00 AM a 5:00 PM</p>
    <p>Descripción: Especializado en el diagnóstico y tratamiento de enfermedades, transtornos de la piel, cabello o uñas.</p>
    <h2>Contacto</h2>
    <p>Teléfono: 3432648709</p>
    <p>Email: juapra@gmail.com</p>
    <p>Dirección: carrera 64 No. 68CSUR-73</p>

    <h2>.</h2>

    <h2>Dr. Eduardo Pinzon</h2>
    <p>Especialidad: Psiquiatra</p>
    <p>Experiencia: 6 años de experiencia</p>
    <p>Horario de atención: Lunes a Viernes, de 9:00 AM a 5:00 PM</p>
    <p>Descripción: Especializado en el diagnóstico, tratamiento y prevención de transtornos mentales y emocionales.</p>
    <h2>Contacto</h2>
    <p>Teléfono: 3615168521</p>
    <p>Email: antonpeña@example.com</p>
    <p>Dirección: carrera 64 No. 68CSUR-73</p>
    <%- include('partials/footer.html') %>
</body>
</html>