<!DOCTYPE html>
<html lang="en">
<head>
    <title>WEBMED</title>
    <%- include('partials/head.html') %>
    <style>
      h1 {
        text-align: center;
        color: #0033ff;
      }
      h2 {
        color: #000000;
      }
      p {
        margin-bottom: 20px;
      }
      ul {
        list-style-type: disc;
        margin-left: 20px;
      }
    </style>
</head>
<body>
    <%- include('partials/navegacion.html') %>
    <h1>Guía de Seguros</h1>
    <h2>¿Qué es la guía de seguros del hospital?</h2>
    <p>La guía de seguros del hospital es una herramienta que brinda información detallada sobre los diferentes tipos de seguros médicos aceptados en nuestras instalaciones. Te ayudará a comprender los servicios cubiertos por tu seguro y a maximizar los beneficios que tienes disponibles.</p>
  
    <h2>Beneficios de utilizar nuestra guía de seguros</h2>
    <ul>
      <li>Información actualizada sobre los seguros médicos aceptados en el hospital.</li>
      <li>Explicación de los servicios y procedimientos cubiertos por tu seguro.</li>
      <li>Asesoramiento personalizado para comprender y utilizar de manera efectiva tu cobertura de seguro.</li>
      <li>Consejos para minimizar los gastos de bolsillo y optimizar el uso de tu seguro médico.</li>
    </ul>
  
    <h2>¿Cómo utilizar la guía de seguros?</h2>
    <p>Para utilizar nuestra guía de seguros, sigue estos pasos:</p>
    <ol>
      <li>Verifica el nombre de tu compañía de seguros y el tipo de plan que tienes.</li>
      <li>Busca el nombre de tu compañía de seguros en nuestra lista de seguros aceptados.</li>
      <li>Haz clic en el enlace correspondiente para acceder a información detallada sobre tu seguro.</li>
      <li>Lee la información proporcionada para comprender los servicios cubiertos y los requisitos de tu seguro.</li>
      <li>Si tienes alguna pregunta adicional, no dudes en contactar a nuestro departamento de atención al cliente.</li>
    </ol>
  
    <h2>Contacto</h2>
    <p>Teléfono: 01-8000-2153</p>
    <p>Email: seguros@gmail.com</p>
    <p>Dirección: carrera 64 No. 68CSUR-73</p>
    <%- include('partials/footer.html') %>
</body>
</html>